[submodule "C++/LearnCmakeFromScratch/3. Submodules/external/glfw"]
	path = C++/LearnCmakeFromScratch/3. Submodules/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "C++/LearnCmakeFromScratch/4. Versioning/external/glfw"]
	path = C++/LearnCmakeFromScratch/4. Versioning/external/glfw
	url = https://github.com/glfw/glfw.git
